@import "../../utils/colors.scss";

.post {
  transition: 0.2s all ease;
  margin-bottom: 40px;
  padding: 25px;

  h2 {
    font-size: 1.75em;
    margin: 0 0 5px 0;
  }
}

.post:focus {
  outline: 0;
  box-shadow: 0 0 2px 3px $turquoise;
}

.post-compact {
  margin-bottom: 10px;
  padding: 10px 15px;

  h2 {
    font-size: 1.2em;
    margin: 0;
  }
}
