@import "./colors.scss";

.dark {
  background-color: $dracula;
  color: $white;

  header {
    border: 0;

    h1 {
      color: $white;
    }
  }

  h2,
  h3,
  blockquote,
  small,
  strong,
  span,
  p {
    color: $white;
  }

  article {
    border-bottom: 1px solid $line-dark;
  }

  blockquote {
    border-left-color: $line-dark;
  }

  .fixed-header {
    background: $dracula;
  }

  .post-description {
    line-height: normal;
    font-size: 1rem;
    color: $silver;
  }

  .view-mode {
    button {
      background: $line-dark;
      border: 1px solid $line-dark;
    }

    .selected {
      background: $line-light;
      color: $dracula;
    }
  }
}
