@import "../../utils/colors.scss";

.post-description {
  margin-bottom: 20px;
}

article {
  margin: 20px 0;
}

.dark {
  article {
    border-bottom: 2px solid $line-dark;
  }

  .post {
    border: 2px solid $line-dark;
  }
}

.light {
  article {
    border-bottom: 2px solid $line-light;
  }

  .post {
    border: 2px solid $line-light;
  }
}
