@import "../../utils/colors.scss";

$border-radius: 100%;
$selected-color: #202627;

.toggle-container {
  touch-action: pan-x;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  outline: 0;
}

.toggle-container:focus .toggle {
  box-shadow: 0 0 2px 3px $turquoise;
}

.toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fafafa;
  border: 0;
  box-sizing: border-box;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transform: translateX(0);
  cursor: pointer;
  outline: 0;
}

.toggle:focus {
  box-shadow: 0 0 2px 3px $turquoise;
}

.toggle-checked {
  transform: translateX(35px);
}

.toggle-track {
  cursor: pointer;
  width: 70px;
  height: 35px;
  display: flex;
  border-radius: 35px;
  box-sizing: border-box;
  padding: 0;
}

.toggle-option {
  flex: 1;
  text-align: center;
  line-height: 32px;
  width: 35px;
  height: 35px;
}

.light {
  .toggle-track {
    border: 2px solid $line-light;
  }

  .toggle {
    background-color: $line-light;
  }
}

.dark {
  .toggle-track {
    border: 2px solid $line-dark;
  }

  .toggle {
    background-color: $line-dark;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
